CompileFlags:
  CompilationDatabase: c:\Users\DuyTrinh\Desktop\GitProjekte\its-brd-vsc-1\Programs\StoppuhrASM\out\StoppuhrASM\ITSboard_Assembly\Debug
  Add:
    - -include
    - c:\Users\DuyTrinh\Desktop\GitProjekte\its-brd-vsc-1\Programs\StoppuhrASM\out\StoppuhrASM\ITSboard_Assembly\Debug\compile_macros.h
